/* 
Morado: #8C52FF
Orange: #F18043 */

.container.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 2rem;
}

.about-us-header {
  background-color: #f180431f;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  padding: 1rem;
  color: #f18043;
  text-align: center;
  font-size: 2.5em;
}

.about-us-columns {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f180430b;
  margin: 1.5rem 0;
  transition: transform 0.3s ease-in-out;
}

.about-us-columns:hover {
  transform: scale(1.03);
}

.about-us-text-highlight {
  font-weight: bold;
  color: #f18043;
}

.img-fluid.about-us {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  display: block;
  margin: 1rem auto;
  background-origin: 10px;
}

.about-us-members {
  background-color: #f180431f;
  border-radius: 0.625rem;
  padding: 0.3125rem;
  color: #8c52ff;
  text-align: center;
  margin-bottom: 15px;
}

.about-us-description {
  padding: 1.5rem;
}

.about-us-icon {
  color: #8c52ff;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
