i {
  color: #f18043;
}

.header-bienvenida {
  color: #8c52ff;
}

.card-container.card-mis-mascotas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card.card-mis-mascotas {
  max-width: 20rem;
  margin: 0.3rem 0.6rem 3.125rem 0.3rem;
  padding-top: 0.3125rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 2.875rem 0.4375rem 2.875rem 0.4375rem;
}

.card.card-mis-mascotas:hover {
  background-color: #f180432c;
}

.card.card-mis-mascotas img {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 0.3125rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.card-mis-mascotas .card-body {
  padding: 0.625rem;
  text-transform: uppercase;
}

.fas.fa-star {
  font-size: 1.9rem;
}

.fas.fa-plus-circle {
  font-size: 2rem;
}

.detalle-link {
  color: black;
  text-decoration: none;
}

.img-gatito {
  width: 8.25rem;
  height: 8.25rem;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
  padding-top: 0.3125rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container.dashboard-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 25%;
  border-radius: 20px;
  opacity: 0.5;
  background: #784eed;
  filter: blur(125px);
  z-index: -1;
}

@media (max-width: 767px) {
  .container.dashboard-container::before {
    width: 40%;
    background: #784eed;
    border-radius: 15px;
    filter: blur(100px);
    z-index: -1;
  }
}

.container.dashboard-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 25%;
  border-radius: 20px;
  opacity: 0.5;
  background: #f18043;
  filter: blur(125px);
  z-index: -1;
}

@media (max-width: 767px) {
  .container.dashboard-container::after {
    width: 40%;
    background: #ff5722;
    border-radius: 15px;
    filter: blur(100px);
    z-index: -1;
  }
}

/* Modal */

.dashboard.modal.button {
  border: none;
}

.dashboard.modal.form-group {
  margin-bottom: 1rem;
}

.dashboard.modal.form-control {
  padding: 0.375rem 0.75rem;
}

.dashboard.modal.form-select {
  padding: 0.375rem 0.75rem;
}

.dashboard.modal.text-center {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dashboard.modal.modal {
  padding: 1rem;
}

.dashboard.modal.Modal-Header,
.dashboard.modal.Modal-Body,
.dashboard.modal.Modal-Footer {
  padding: 1rem;
}

/* Directory */
.directory-header {
  background-color: #f1804343;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  padding: 1rem;
  color: #f18043;
  text-align: center;
  font-size: 2.5em;
}
.veterinary-name {
  font-size: 1.5rem;
}

.veterinary-picture {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding-top: 0.3125rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.directory-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.directory-card {
  flex: 0 0 100%;
  margin: 10px;
}

@media (min-width: 600px) {
  .directory-card {
    flex: 0 0 calc(50% - 20px);
  }
  .directory-cards {
    justify-content: space-between;
  }
}

@media (min-width: 900px) {
  .directory-card {
    flex: 0 0 calc(33.33% - 20px);
  }
}

.directory-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  box-shadow: 0px 4px 10px rgba(140, 82, 255, 0.2),
    0px 4px 10px rgba(241, 128, 67, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  transition: all 0.3s ease;
}

.directory-card:hover {
  box-shadow: 0px 8px 20px rgba(140, 82, 255, 0.4),
    0px 8px 20px rgba(241, 128, 67, 0.4);
  transform: translateY(-5px);
}
