.directory-header {
  background-color: #f1804343;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  padding: 1rem;
  color: #f18043;
  text-align: center;
  font-size: 2.5em;
}
.veterinary-name {
  font-size: 1.5rem;
}

.veterinary-picture {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding-top: 0.3125rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.directory-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.directory-card {
  flex: 0 0 100%;
  margin: 10px;
}

@media (min-width: 600px) {
  .directory-card {
    flex: 0 0 calc(50% - 20px);
  }
  .directory-cards {
    justify-content: space-between;
  }
}

@media (min-width: 900px) {
  .directory-card {
    flex: 0 0 calc(33.33% - 20px);
  }
}

.directory-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  box-shadow: 0px 4px 10px rgba(140, 82, 255, 0.2),
    0px 4px 10px rgba(241, 128, 67, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  transition: all 0.3s ease;
}

.directory-card:hover {
  box-shadow: 0px 8px 20px rgba(140, 82, 255, 0.4),
    0px 8px 20px rgba(241, 128, 67, 0.4);
  transform: translateY(-5px);
}
