/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

/* Color palette
Morado: 8C52FF
Orange: F18043
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-size: 1rem;
}

* {
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 1200px;
  position: relative;
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 25%;
  border-radius: 20px;
  opacity: 0.5;
  background: #f18043;
  filter: blur(125px);
  z-index: -1;
}

@media (max-width: 767px) {
  .background-container::before {
    width: 40%;
    background: #ff5722;
    border-radius: 15px;
    filter: blur(100px);
    z-index: -1;
  }
}

.hero-title {
  margin-bottom: 2rem;
  line-height: 120%;
  letter-spacing: 0.07em;
}

.header-pet-text {
  color: #8c52ff;
  font-size: 2.3rem;
}

.lead {
  margin-bottom: 2rem;
  font-size: 1.125rem;
}

.hero-image {
  border-radius: 0.75rem;
}

.logo {
  max-width: 3rem;
  transform: scale(1.5);
}

.btn {
  background: #8c52ff;
  box-shadow: -17px 17px 33px #f7f7f7, 17px -17px 33px #ffffff;
}

.btn:hover {
  background-color: #f18043;
}

.btn-light {
  color: black;
  background-color: white;
  border-color: #f18043;
}

.divider-section {
  display: flex;
  gap: 3rem;
  padding: 4rem 10.3125rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    85deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 251, 255, 1) 47%,
    rgba(140, 82, 255, 10) 500%
  );
}

/* .flex-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
} */

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 0rem 0rem 0.75rem 0.75rem;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px 32px 71px 0px rgba(0, 0, 0, 0.05),
    0px 128px 128px 0px rgba(0, 0, 0, 0.04),
    0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01),
    0px 801px 224px 0px rgba(0, 0, 0, 0);
  margin-bottom: 2rem;
}

.card-img-top {
  width: 100%;
  height: 500px;
  border-radius: 0.75rem 0.75rem 0 0;
  object-fit: cover;
}

.card-body {
  flex-grow: 1;
}
