/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

/* Color palette
Morado: 8C52FF
Orange: F18043
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-size: 1rem;
}

.hero-title {
  margin-top: 4rem;
  margin-bottom: 2rem;
  /* font-size: 4rem; */
}

/* Para pantallas de 400px o menos */
@media screen and (max-width: 400px) {
  .hero-title {
    font-size: 1.5rem;
  }
}

/* Para pantallas de 800px o menos */
@media screen and (max-width: 800px) {
  .hero-title {
    font-size: 2.5rem;
  }
}

/* Para pantallas de 1200px o más */
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 4rem;
  }
}

.lead {
  margin-bottom: 2rem;
  font-size: 1.125rem;
}

.logo {
  max-width: 3rem;
  transform: scale(1.5);
}

.hero-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  background-color: #8c52ff;
}

.btn:hover {
  background-color: #f18043;
}

.btn-light {
  font: black;
  background-color: white;
  border-color: #f18043;
}
