/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

/* Color palette
Morado: 8C52FF
Orange: F18043
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-size: 1rem;
}

.container {
  max-width: 1200px;
  position: relative;
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 20%;
  border-radius: 31.25rem;
  opacity: 0.5;
  background: #ff5722;
  filter: blur(250px);
  z-index: -1;
}

.hero-title {
  margin-bottom: 2rem;
  line-height: 120%;
  letter-spacing: 0.07em;
}

.lead {
  margin-bottom: 2rem;
  font-size: 1.125rem;
}

.hero-image {
  border-radius: 12px;
}

.logo {
  max-width: 3rem;
  transform: scale(1.5);
}

.btn {
  background: #8c52ff;
  box-shadow: -17px 17px 33px #f7f7f7, 17px -17px 33px #ffffff;
}

.btn:hover {
  background-color: #f18043;
}

.btn-light {
  font: black;
  background-color: white;
  border-color: #f18043;
}
