.form-control{
    border-radius: 60px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #6f00f7;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(132, 44, 248, 0.25);
    padding: 20px;
}

.form-label{
    margin-left: 10px; 
}