.imgen {
  background-color: black;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden; 
  min-width: 100px;
}

.imgen img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  min-width: 100px;
}


.info {
  width: 40%; 
  height: 30%;
  background-color: white; 
  position: relative;
  overflow: hidden;
  padding: 5px;
  border-radius: 10px;
  min-width: 150px;
}

.accordion-item {
  width: 100%;
}

.accordion-button.collapsed {
  background-color: #ee643a !important;
  width: 100%;
}

.accordion-button:not(.collapsed) {
  background-color: #ee643a !important;
  width: 100%;
}
.page{
  max-width: 100%;
  min-width: 500px;
}

.button-pet{
  padding: 10px;
  border: 2px solid #ee643a;
  border-radius: 50px;
}
.text-button{
  padding-top: 7px;
}
.arrow-button {
  padding: 8px 9px;
  background-color: #ee643a;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
}

.arrow-button:hover {
  background-color:  #f87851;
}

.arrow-button i {
  transition: transform 0.3s ease;
}

.arrow-button:hover i {
  transform: translateX(2px);
}
.fa-arrow-right {
  color: white;
}

.message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  width: fit-content;
}
.text-button-info{
  padding-left: 3px;
}
.icon{
  padding-top: 3px;
}