.imgen {
  background: linear-gradient(to right, #a36ff9, #b69fff);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden; 
  min-width: 100px;
}

.imgen img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  min-width: 100px;
}


.info {
  padding: 2rem;
  width: 100%;
  max-width: 700px; 
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
  background-color: white; 
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  min-width: 150px;
}

.info h5 strong {
  margin-right: 1.5rem;
}

.page{
  max-width: 100%;
  min-width: 500px;
}

.button-pet{
  padding: 10px;
  border: 2px solid #f18043;
  border-radius: 50px;
}

.text-button{
  padding-top: 7px;
  margin-left: 1rem;
}

.arrow-button {
  padding: 8px 9px;
  margin-right: 1rem;
  width: 60px;
  background-color: #f18043;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
}

.arrow-button:hover {
  background-color:  #f87851;
}

.arrow-button i {
  transition: transform 0.3s ease;
}

.arrow-button:hover i {
  transform: translateX(2px);
}

.fa-arrow-right {
  color: white;
}


.text-button-info{
  padding-left: 3px;
}

.icon{
  padding-top: 3px;
}