.imgen {
  background-color: black;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden; 
  min-width: 100px;
}

.imgen img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  min-width: 100px;
}


.info {
  width: 40%; 
  height: 30%;
  background-color: white; 
  position: relative;
  overflow: hidden;
  padding: 5px;
  border-radius: 10px;
  min-width: 150px;
}

.accordion-item {
  width: 100%;
}

.accordion-button.collapsed {
  background-color: #ee643a !important;
  width: 100%;
}

.accordion-button:not(.collapsed) {
  background-color: #ee643a !important;
  width: 100%;
}
.page{
  max-width: 100%;
  min-width: 500px;
}


