/* Contenedor de inputs de registro */

.div-signup{
    margin: 20px 0;
}

.contenedor-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 400px;
}

/* Estilos para labels de inputs de registro */

.contenedor-form div{
    width: 420px;
}

/* Estilos para inputs de registro */

.form-control{
    border-radius: 10px;
    max-width: 430px;
    width: 100%;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #6f00f7;
    outline: 0;
    box-shadow: none;
}

.form-control::placeholder{
    color: rgb(187, 183, 183);
}

/* Estilos para boton de registro */

.boton-signup{
    background-color: #8c52ff;
    border-color: #7a3afa;
}

.boton-signup:hover{
    background-color: #5834a1;
}

/* Mensaje de alerta de error en el formulario */

.error-message{
    text-align: center;
}
