/* Contenedor de inputs de registro */

.div-signup{
    margin: 20px 0;
}

.contenedor-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    margin: 20px 0;
}

/* Estilos para labels de inputs de registro */

.contenedor-form > div {
    width: 100%;
}

.div-input-interno {
    width: 430px; /* Ancho predeterminado para pantallas mayores o iguales a 430px */
}

@media (max-width: 430px) {
    .div-input-interno {
        width: 100%; /* Ancho del 100% para pantallas menores a 430px */
    }
}


/* Estilos para inputs de registro */

.form-control{
    border-radius: 10px;
    width: 100%;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #6f00f7;
    outline: 0;
    box-shadow: none;
}

.form-control::placeholder{
    color: rgb(187, 183, 183);
}

/* Estilos para boton de registro */

.boton-signup{
    background-color: #8c52ff;
    border-color: #7a3afa;
    width: 150px;
}

.boton-signup:hover{
    background-color: #5834a1;
}

/* Mensaje de alerta de error en el formulario */

.error-message{
    text-align: center;
}


/* Contenedor header de signup */

.signup-header{
    text-align: center;
}

.signup-header img {
    width: 5rem;

}

.container-label-radio button{
    border: none;
    
}

/* Estilos inputs radio bootstrap */

.form-check-input[type=radio] {
    border-radius: 35%;
}

.form-check-input:checked {
    background-color: #8c52ff;
    border-color: #7a3afa;
}

.form-check-input:focus {
    border-color: #7a3afa;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(204, 148, 235, 0.25)
} 


.background-container-forms::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 25%;
    border-radius: 20px;
    opacity: 0.5;
    background: #784eed;
    filter: blur(125px);
    z-index: -1;
  }
  
  @media (max-width: 767px) {
    .background-container-forms::before {
      width: 40%;
      background: #784eed;
      border-radius: 15px;
      filter: blur(100px);
      z-index: -1;
    }
  }


.background-container-forms::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    height: 25%;
    border-radius: 20px;
    opacity: 0.5;
    background: #f18043;
    filter: blur(125px);
    z-index: -1;
  }
  
  @media (max-width: 767px) {
    .background-container-forms::after {
      width: 40%;
      background: #ff5722;
      border-radius: 15px;
      filter: blur(100px);
      z-index: -1;
    }
  }


  