.container.dashboard-container-vet::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 25%;
    border-radius: 20px;
    opacity: 0.5;
    background: #ff5722;
    filter: blur(125px);
    z-index: -1;
  }
  
  @media (max-width: 767px) {
    .container.dashboard-container-vet::before {
      width: 40%;
      background: #f18043;
      border-radius: 1rem;
      filter: blur(100px);
      z-index: -1;
    }
  }
  
  .container.dashboard-container-vet::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    height: 25%;
    border-radius: 1.25rem;
    opacity: 0.5;
    background: #784eed;
    filter: blur(125px);
    z-index: -1;
  }
  
  @media (max-width: 767px) {
    .container.dashboard-container-vet::after {
      width: 40%;
      background: #784eed;
      border-radius: 1rem;
      filter: blur(100px);
      z-index: -1;
    }
  }


.patient-icon {
    color: #784eed;
}
  
#header-bienvenida-vet {
    color: #f18043;
}
  

#button-vet {
    background: #f18043;
}
  
#button-vet:hover {
    background-color: #784eed;
}


.card.card-mis-pacientes {
  max-width: 20rem;
  margin: 0.3rem 0.6rem 3.125rem 0.3rem;
  padding-top: 0.3125rem;
  text-align: center;
  transition: background-color 0.3s ease;
  border-radius: 2.875rem 0.4375rem 2.875rem 0.4375rem;
} 

.card.card-mis-pacientes img {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 0.3125rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.card-mis-pacientes .card-body {
  padding: 0.625rem;
  text-transform: uppercase;
}

.card.card-mis-pacientes:hover {
  background-color: #f180432c;
}
